
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
body{
    background-color: black;
}
.display-flex{
    display: flex;
}
.common-white{
    color: rgb(255, 255, 255);
}
.reddish{
    color: rgb(230, 83, 60);
}
.btn-primary{
    height: 50px;
    width: 210px;
    border-radius: 45px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    border: 0.01px solid white;
    background-color: rgb(230, 83, 60);
}
p{
    line-height: 25px;
}
/* header styles */
.header{
    background: linear-gradient(180deg, rgb(17,17,17), rgba(48,48,48, 1),rgba(41, 41, 41, 1),rgb(5,5,5) 100% );
}
/* navbar styles */
.navbar{
    justify-content: space-between;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.fitness{
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.nav-links{
    margin-top: 60px;
    height: 40px;
    width: 390px;
    /* padding-right: 10px; */
    padding-left: 3px;
    border: 0.001px solid rgba(245, 245, 245, 0.11);
    border-radius: 45px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.btn-nav{
    width: 90px;
    height: 35px;
    background-color: rgb(230, 83, 60);
    border-radius: 45px;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    font-weight: 600;
    font-size: 17px;
    /* line-height: 20px;
    padding: 0px 15px;
    border: none; */
}
/* banner styles */
.header p{
    color: rgb(255, 255, 255);
    opacity: 0.5;
    margin-bottom: 40px;
}
.btn-download{
    height: 50px;
    width: 210px;
    border-radius: 45px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    border: 0.01px solid white;
    background-color: unset;
    /* margin-left: 20px; */
}
.banner{
    justify-content: space-between;
}
.banner-content{
    max-width: 580px;
    margin-bottom: 20px;
}
.banner-content h1{
    font-size: 75px;
    line-height: 120%;
    font-weight: 900;
    margin-bottom: 25px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
