
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
body{
    background-color: black;
}
.display-flex{
    display: flex;
}
.common-white{
    color: rgb(255, 255, 255);
}
.reddish{
    color: rgb(230, 83, 60);
}
.btn-primary{
    height: 50px;
    width: 180px;
    border-radius: 45px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    border: 0.01px solid white;
    background-color: rgb(230, 83, 60);
}
p{
    line-height: 25px;
}
/* header styles */
.header{
    background: linear-gradient(180deg, rgb(17,17,17), rgba(48,48,48, 1),rgba(41, 41, 41, 1),rgb(5,5,5) 100% );
}
/* .header-content{
    width: 1250px;
    margin: 0 auto;
} */
/* navbar styles */
.navbar{
    justify-content: space-between;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.fitness{
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.nav-links{
    margin-top: 60px;
    height: 40px;
    width: 390px;
    padding-left: 3px;
    border: 0.001px solid rgba(245, 245, 245, 0.11);
    border-radius: 45px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.btn-nav{
    width: 90px;
    height: 35px;
    background-color: rgb(230, 83, 60);
    border-radius: 45px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 17px;
}
/* banner styles */
.header p{
    color: rgb(255, 255, 255);
    opacity: 0.5;
    margin-bottom: 40px;
}
.btn-download{
    height: 50px;
    width: 180px;
    border-radius: 45px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    border: 0.01px solid white;
    background-color: unset;
}
.banner{
    justify-content: space-between;
}
.banner-content{
    max-width: 480px;
    margin-bottom: 20px;
}
.banner-content h1{
    font-size: 60px;
    line-height: 120%;
    font-weight: 900;
    width: 80%;
    margin-bottom: 25px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* main section */
main{
    margin: 0 auto;
    background-color: black;
}
/* change section */
.changes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.changes h2,h6,p{
    color: rgb(255, 255, 255);
}
.Change-heading{
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 800;
}
.changes h6{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1px;
}
.texting{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 60px;
}
.texting p{
    font-size: smaller;
    text-align: center;
    opacity: 0.4;
    margin-top: 5px;
    margin-bottom: 70px;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
}
.card-style img{
    border-radius: 50%;
}
.card-style p{
    font-size: smaller;
    width: 70%;
    text-align: center;
    margin-bottom: 100px;
    opacity: 0.4;
    line-height: 20px;
}
/* Run extra section  */
.run-extra{
    width: 1150px;
    height: 330px;
    background-color: rgba(48,48,48, 1);
    padding: 30px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    gap: 20%;
    line-height: 120%;
}
.run-extra img{
    border-radius: 20px;
    width: 35%;
    height: 100%;
}
.text-cont{
    /* padding-top: 15px; */
    color: rgb(255, 255, 255);
    width: 45%;
    /* margin-bottom: 20px; */
}
.text-cont>h2{
    width: 350px;
    font-size: 45px;
    font-weight: 800;
    line-height: 120%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-cont>p{
    opacity: 0.4;
    width: 400px;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: smaller;
}
/* Meet section  */
.meet-team{
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    /* width: 1150px; */
}
.meet-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meet-text h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
}
.meet-text p{
    opacity: 0.4;
    font-size: smaller;
    text-align: center;
    margin-bottom: 60px;
}
.meet-img{
    background-color: rgba(48,48,48, 1);
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 1150px;
    margin: 0 auto;
}
.meet-img img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}


/* responsive media query */
@media screen and (max-width: 576px) {
    /* header section */
    .banner{
        flex-direction: column;
    }
    .nav-links, .navbar{
        display: none;
    }
    .banner-content h1{
        width: 285px;
        font-size: 45px;
    }
    .banner-content p{
        width: 270px;
    }
    .banner-button{
        justify-content: space-around;
    }
    .navbar, .banner-content{
        margin-left: 30px;
        margin-right: 30px;
    }
    /* main */
    /* change section */
    .cards{
        flex-direction: column;
    }
    .Change-heading{
        width: 330px;
        font-size: 35px;
    }
    .texting p{
        width: 295px;
    }
    /* Run extra section */
    .run-extra{
        width: 78%;
        height: 580px;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    .run-extra p{
        width: 100%;
    }
    .run-extra h2{
        width: 84%;
        font-size: 33px;
    }
    .run-button{
        width: 100%;
    }
    .text-cont{
        width: 97%;
        align-items: center;
    }
    .run-extra img{
        width: 97%;
        height: 40%;
    }
    /* Meet section  */
    .meet-img{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
}
